.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.4rem;
  max-width: 16rem;
  justify-content: center;
  align-items: center;
  border:1px solid;
  margin: 0 auto;
  border-radius: 10px;
}
.key-container {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0.4rem 0.2rem;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
#display-result {
  /* max-width: 90%; */
  border: 1px solid rebeccapurple;
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
}

.key-container>input{
    width: 3.8rem;
}
